body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
}

#jtyu {
  margin-bottom: 1.5rem !important;
  font-family: "Segoe UI", Arial, sans-serif;
}

#mba{
  font-family: "Segoe UI", Arial, sans-serif;
}

h4 {
  color: black;
  font-size: small;
  font-weight: 600;
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.2;
}


.navbar {
  height: 60px;
}

.nav-item a {
  font-size: 14px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight:200;
}

.nav-item a:hover{
  text-decoration: underline;
}

#danz {
  margin: auto;
}

#thec {
  background-color: rgba(216, 213, 213, 0.247);
}

/* 
.col{
    font-weight: bold;
    color: rgb(146, 142, 142);
} */

#cur{
  cursor: pointer;
}

#wor {
  background-color: #0067b8 !important;
  text-align: center;
  color: white;
  height: 60px;
}

* {
  border-radius: 0 !important;
}


.btn {
  background-color: #0067b8 !important;
  color: white;
}

#detailTwo {
  margin-left: 10%;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: rgba(167, 162, 162, 0.534);
  cursor: pointer;
  padding: 10px;
  color: rgba(0, 0, 0, 0.801);
  border-radius: 4px;
  font-weight: 600;
}

#myBtn i {
  position: absolute;
  padding-top: -1px;
  font-size: 1.1em;
  font-weight: none;
}

#myBtn:hover {
  background-color: white;
  color: black;
}

/* .fa-solid{
  position: absolute;
  padding-top: 1px;
} */

footer {
  background-color: rgb(238, 234, 234);
  margin-top: 7%;
}

.zeli {
  font-size: 11px;
  list-style: none;
}

#egok h6 {
  color: rgb(102, 99, 99);
  font-size: 15px;
  margin-bottom: 18px;
}

#egok li {
  margin-bottom: 18px;
}

#egok a {
  color: #616161;
  text-decoration: none;
  font-family: "Segoe UI", Arial, sans-serif;
}

#egok a:hover {
  text-decoration: underline;
  color: black;
}

.card-img-overlay {
  position: relative;
  margin-top: 6%;
  margin-left: 3%;
}

#rir:hover {
  text-decoration: underline;
  color: black;
}